.additional-comment {}

.additional-comment__title {
  margin: 0;

  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: 24px;
  line-height: 26px;
  color: @font-color;
}

.additional-comment__text {}

.additional-comment__text-input {
  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: 16px;
  line-height: 18px;
  color: @font-color;
}
