@font-size: 20px;
@line-height: 30px;

.cat-data {
  display: flex;
  flex-direction: column;

  @media(min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: @desktop-width) {
    max-width: 570px;
  }

}

.cat-data__name {
  display: flex;
  justify-content: space-between;

  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
  color: @font-color;
}

.cat-data__name-label {}

.cat-data__name-input {
  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
  color: @font-color;

  width: 80%;
}

.cat-data__weight {
  display: flex;
  justify-content: space-between;

  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
  color: @font-color;
}

.cat-data__weight-label {}

.cat-data__weight-input {
  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
  color: @font-color;

  width: 85%
}

.cat-data__age {
  display: flex;
  justify-content: space-between;

  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
  color: @font-color;
}

.cat-data__age-label {}

.cat-data__age-input {
  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
  color: @font-color;

  width: 78%;
}
