.catalog-basic-goods__header {
  margin: 0 auto;
  padding: 27px 0 41px;
  text-align: left;

  font-family: @font, "Arial", sans-serif;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: 36px;
  line-height: 36px;
  color: @font-color;

  width: @mobile-width-only - @mobile-gap - @mobile-gap;

  @media (min-width: @tablet-width) {
    padding: 36px 0 163px;

    font-size: 60px;
    line-height: 60px;

    width: 92%;
    max-width: @desktop-width - @desktop-gap - @desktop-gap;
  }

  @media (min-width: @desktop-width) {
    padding: 58px 0 165px;
  }
}

.catalog-basic-goods__list {
  display: flex;
  flex-direction: column;

  list-style-type: none;

  margin: 0 0 25px;
  padding: 0;

  @media (min-width: @tablet-width) {
    width: 92%;
    max-width: @desktop-width - @desktop-gap - @desktop-gap;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;
    grid-row-gap: 142px;

    margin: 0 auto 68px;
  }

  @media (min-width: 1000px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 80px;
    grid-row-gap: 144px;

    margin: 0 auto 76px;
  }
}

.catalog-basic-goods__card {
  &:nth-child(1) {
    border-top: 1px solid rgb(232, 232, 232);
  }

  border-bottom: 1px solid rgb(232, 232, 232);

  @media (min-width: @tablet-width) {
    border: none;
  }
}


.catalog-bsic-goods__card-grids {
  position: relative;

  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr minmax(40px);

  padding: 0 0 25px;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    background-color: @gray-color;

    padding: 23px 39px 39px;
  }

  @media (min-width: @desktop-width) {
    padding: 23px 39px 39px;
  }
}

.catalog-basic-goods__card-positioning-container {
  margin: 0 auto;

  width: @mobile-width-only - @mobile-gap - @mobile-gap;

  @media (min-width: @tablet-width) {
    width: auto;
  }
}

.catalog-basic-goods__card-link {
  text-decoration: none;
}


.catalog-basic-goods__image-wrapper-small {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: flex-end;

  top: -10px;

  @media (min-width: @tablet-width) {
    position: absolute;

    top: -10%;

    justify-content: flex-end;
    align-self: center;
  }

  @media (min-width: @tablet-width) {
    top: -12%;
  }
}

.catalog-basic-goods__image-wrapper-big {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-self: center;
  align-self: flex-end;

  top: -10px;

  @media (min-width: @tablet-width) {
    position: absolute;

    top: -18%;

    justify-content: flex-end;
    align-self: center;
  }

  @media (min-width: @tablet-width) {
    top: -20%;
  }
}

.catalog-basic-goods__card-image {
  margin: 0;
  padding: 0;
}

.catalog-basic-goods__card-header {
  margin: 19px 0 15px;

  width: 76px;

  font-family: @font, "Arial", sans-serif;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: 16px;
  line-height: 20px;
  color: #222222;

  text-transform: uppercase;
  text-align: left;

  @media (min-width: @tablet-width) {
    text-align: center;
    font-size: 20px;
    line-height: 24px;
    width: 158px;

    margin: 137px auto 21px auto;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 21px;
  }
}

.catalog-basic-goods__card-info {
  margin: 0 0 24px;
  padding: 0;

  font-size: 12px;
  line-height: 16px;

  color: #444444;

  display: grid;
  grid-template-columns: 1fr 1fr;

  @media (min-width: @tablet-width) {
    margin: 0 0 42px;
    font-size: 16px;
    grid-row-gap: 16px;
  }

  @media (min-width: @desktop-width) {
    grid-row-gap: 0;
    margin: 0 0 33px;
  }
}

.catalog-basic-goods__card-info-category {
  margin: 0;
  padding: 0;

  height: 15px;
  text-align: left;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid hsl(0, 0%, 80%);
  }
}

.catalog-basic-goods__card-info-value {
  margin: 0;
  padding: 0;

  height: 15px;

  text-align: right;

  @media (min-width: @tablet-width) {
    border-bottom: 1px solid hsl(0, 0%, 80%);
  }
}

.catalog-basic-goods__card-info-value,
.catalog-basic-goods__card-info-category {
  @media (min-width: @desktop-width) {
    padding-top: 5px;
    padding-bottom: 25px;
  }
}

.catalog-basic-goods__button {
  grid-column-start: 1;
  grid-column-end: -1;

  @media (min-width: @desktop-width) {
    font-size: 16px;
  }
}

.catalog-basic-goods__more {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  padding: 78px 0 25px;

  list-style-type: none;

  text-align: center;

  background: url("../img/icon-plus.svg") no-repeat center;
  background-size: 30px 30px;
  background-position: 50% 25px;

  border-bottom: 1px solid rgb(232, 232, 232);

  @media (min-width: @tablet-width) {
    border: 2px solid hsl(0, 0%, 95%);

    padding: 161px 37px 39px;

    background-size: 60px 60px;
    background-position: 50% 52px;
  }

  @media (min-width: @desktop-width) {
    padding: 160px 38px 39px;

    background-position: 50% 51px;
  }
}

.catalog-basic-goods__more-link {
  text-decoration: none;
}

.catalog-basic-goods__more-header {
  margin: 0;

  font-family: @font, "Arial", sans-serif;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: 16px;
  line-height: 20px;
  color: #111111;

  text-transform: uppercase;

  margin-bottom: 8px;

  @media (min-width: @tablet-width) {
    width: 135px;

    margin: 0 auto 23px auto;

    font-size: 20px;
    line-height: 22px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 24px;
  }
}

.catalog-basic-goods__more-text {
  margin: 0;
  padding: 0;
  margin-bottom: 21px;

  color: #444444;
  font-size: 12px;
  line-height: 16px;

  @media (min-width: @tablet-width) {
    width: 170px;
    font-size: 16px;
    line-height: 18px;

    margin-bottom: 88px;
  }
}

.catalog-basic-goods__more-button {
  background-color: @gray-color;
  color: @font-color;

  @media (min-width: @desktop-width) {
    font-size: 16px;
  }

  &:hover {
    background-color: hsl(0, 0%, 92%);
    color: @font-color;
  }

  &:active {
    opacity: 0.3;
  }
}

.catalog-basic-goods__underline {
  position: relative;
  margin: 0;
  padding: 0;
  width: 150vw;
  left: -50vw;
  border: 0;
  border-top: 1px solid hsl(0, 0%, 85%);

  @media (min-width: @tablet-width) {
    display: none;
  }
}
