.catalog-other-goods {
  padding-top: 25px;
}
.catalog-other-goods__header {
  margin: 0 0 36px;
}
.catalog-other-goods__list {
}
.catalog-other-goods__item {
  padding: 13px 0 19px;

  list-style-type: none;
}
.catalog-other-goods__item-header {
  margin: 0;
}
.catalog-other-goods__info {
}
.catalog-other-goods__info-item-weight {
}
.catalog-other-goods__info-item-price {
}
.catalog-other-goods__item-button {
}
