.catalog-basic-goods {}

.catalog-basic-goods__header {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
}

.catalog-basic-goods__list {}

.catalog-basic-goods__card {
  background-color: #F2F2F2;
}

.catalog-basic-goods__card-link {}

.catalog-basic-goods__card-image {}

.catalog-basic-goods__card-header {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
}

.catalog-basic-goods__card-info {
  line-height: 16px;
}

.catalog-basic-goods__card-info-category {}

.catalog-basic-goods__card-info-value {}

.catalog-basic-goods__button {}

.catalog-basic-goods__more {}

.catalog-basic-goods__more-link {}

.catalog-basic-goods__more-header {}

.catalog-basic-goods__more-text {}

.catalog-basic-goods__more-button {
  background-color: #F2F2F2;
}
