.experience {}

.experience__wrapper {}

.experience__header {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 60px;
  line-height: 60px;
}

.experience__description {}

.experience__result {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 37px;
}

.experience__example-price {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 20px;
}
