.explanation {
  position: relative;
  margin: 0 auto;
  padding: 0;
  width: @mobile-width-only - @mobile-gap - @mobile-gap;

  @media (min-width: @tablet-width) {
    width: 92%;
    max-width: @desktop-width - @desktop-gap - @desktop-gap;
  }
}

.explanation__image-before {
  position: absolute;

  top: 120px;

  @media (min-width: @tablet-width) {
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: @desktop-width) {
    top: -120px;
  }
}

.explanation__image-after {
  position: absolute;

  top: 120px;

  @media (min-width: @tablet-width) {
    left: 50%;
    transform: translateX(-50%);
  }

  @media (min-width: @desktop-width) {
    top: -120px;
  }
}

.explanation__title {
  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: 16px;
  line-height: 20px;
  color: @font-color;
}
