.explanation {
  width: @mobile-width-only - @mobile-gap;

  @media (min-width: @tablet-width) {
    width: @tablet-width - @tablet-gap;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width - @desktop-gap;
  }
}

.explanation__photo-wrapper {}

.explanation__image-before {}

.explanation__image-after {}

.explanation__range-wrapper {}

.explanation__title {
  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: 16px;
  line-height: 20px;
  color: @font-color;
}

.explanation__scale {}

.explanation__slider {}

.explanation__slider--current {}
