.explanation {}

.explanation__photo-wrapper {}

.explanation__image-before {}

.explanation__image-after {}

.explanation__range-wrapper {}

.explanation__title {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
}

.explanation__scale {}

.explanation__slider {}

.explanation__slider--current {}
