.footer {
  background-color: @gray-color;
  width: 100vw;
  max-width: 100%;
}

.footer__adress-color-wrapper {
  background-color: @white-color;
  width: 100vw;
  max-width: 100%;
}

.footer__background-wrapper,
.footer__adress-map-wrapper {
  margin: 0 auto;
  padding: 0;
  width: @mobile-width-only - @mobile-gap - @mobile-gap;

  @media (min-width: @tablet-width) {
    width: 92%;
    max-width: 1220px;
  }
}

.footer__address {
  position: relative;

  margin: 0 auto;
  padding: 0;
  width: @mobile-width-only - @mobile-gap - @mobile-gap;

  @media (min-width: @tablet-width) {
    width: 92%;
    max-width: 1220px;
  }
}

.footer__wrapper {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 95px 63px 75px;
  align-items: center;
  justify-content: center;

  @media (min-width: @tablet-width) {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
  }
}

.footer__address-embeded-map {
  margin: 0;
  padding: 0;
  width: @mobile-width-only;
  margin-left: -@mobile-gap;
  object-fit: cover;

  height: 362px;

  @media (min-width: @tablet-width) {
    width: 100vw;
    margin-left: calc((100vw - 98%) / -2);

    height: 400px;
  }
}

.footer__address-headquarter-wrapper {
  padding: 25px 0;
  margin: 0;
  background-color: @white-color;

  width: @mobile-width-only - @mobile-gap - @mobile-gap;

  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 13px;

  @media (min-width: @tablet-width) {
    width: 100%;

    padding: 60px 40px 56px;
  }

  @media (min-width: @desktop-width) {
    position: absolute;
    top: 50%;
    transform: translateY(50%);
    max-width: 565px;

    z-index: 1;

    padding: 60px 80px 56px;
  }
}

.footer__address-headquarter-header {
  margin: 0;

  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: 16px;
  line-height: 20px;
  color: @font-color;

  text-transform: uppercase;

  width: 125px;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 26px;

    width: 171px;
  }

  @media (min-width: @desktop-width) {
    font-size: 20px;
    line-height: 26px;

    width: 163px;
  }
}

.footer__address-headquarter-text {
  margin: 0;
  width: 140px;

  @media (min-width: @tablet-width) {
    width: 160px;
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    width: 155px;
    text-align: left;
  }
}

.footer__logo-wrapper {
  margin: 0 auto;
  padding: 28px 0;
  text-align: center;

  width: 100%;

  border-bottom: 1px solid hsl(0, 0%, 85%);

  @media (min-width: @tablet-width) {
    margin: 0;
    padding: 63px 0;

    width: auto;
  }
}

.footer__logo-image {
  object-fit: contain;
  color: hsl(0, 0%, 27%);

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}

.footer__social-list {
  margin: 0;

  display: flex;
  flex-direction: row;
  column-gap: 26px;
  justify-content: center;
  align-items: center;

  padding: 15px 0;

  border-bottom: 1px solid hsl(0, 0%, 85%);

  @media (min-width: @tablet-width) {
    padding: 50px 0;
    padding-left: 30px;
    border: none;
  }
}

.footer__social-item {
  list-style-type: none;
}

.footer__social-item-icon {
  object-fit: contain;

  color: rgba(102, 102, 102, 1);

  &:hover {
    color: hsl(97, 53%, 47%);
  }

  &:active {
    opacity: 0.3;
  }
}

.footer__html-academy-wrapper {
  display: flex;
  margin: 0;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  letter-spacing: 1.5px;

  @media (min-width: @tablet-width) {
    justify-content: flex-end;
    column-gap: 22px;
    padding: 50px 0;
  }
}

.footer__html-academy-logo {
  object-fit: contain;

  color: rgba(102, 102, 102, 1);

  &:hover {
    color: hsl(97, 53%, 47%);
  }

  &:active {
    opacity: 0.3;
  }
}
