.footer {}

.footer__wrapper {
  background-color: #F2F2F2;
}

.footer__address {}

.footer__address-embeded-map {}

.footer__address-headquarter-wrapper {
  background-color: #FFFFFF;
}

.footer__address-headquarter-header {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
}

.footer__address-headquarter-text {}

.footer__logo-wrapper {}

.footer__logo-link {}

.footer__logo-image {}

.footer__social-list {}

.footer__social-item {}

.footer__social-link {}

.footer__social-item-icon {}

.footer__html-academy-wrapper {}

.footer__html-academy-link {}

.footer__html-academy-logo {}
