.footer {
  background-color: @gray-color;
}

.footer__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  width: @mobile-width-only - @mobile-gap;
  margin: 0 auto;
  flex-wrap: wrap;
  justify-content: center;

  @media (min-width: @tablet-width) {
    width: @tablet-width - @tablet-gap;
    justify-content: space-between;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width - @desktop-gap;
    justify-content: space-between;
  }
}

.footer__address {}

.footer__address-embeded-map {
}

.footer__address-headquarter-wrapper {
  padding: 26px 0;
  background-color: @white-color;

  width: @mobile-width-only - @mobile-gap;
  margin: 0 auto;

  @media (min-width: @tablet-width) {
    width: @tablet-width - @tablet-gap;
  }

  @media (min-width: @desktop-width) {
    max-width: 565px;

    margin: 0;
    margin-right: auto;
  }
}

.footer__address-headquarter-header {
  margin: 0;

  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: 20px;
  line-height: 26px;
  color: @font-color;
}

.footer__address-headquarter-text {}

.footer__logo-wrapper {}

.footer__logo-link {}

.footer__logo-image {}

.footer__social-list {
  margin: 0;

  display: flex;
  flex-direction: row;

  column-gap: 24px;
}

.footer__social-item {
  list-style-type: none;
}

.footer__social-link {}

.footer__social-item-icon {}

.footer__html-academy-wrapper {}

.footer__html-academy-link {}

.footer__html-academy-logo {}
