/* stylelint-disable block-no-empty */
.form {
  margin: 0 auto;
  padding: 0;
  width: @mobile-width-only - @mobile-gap - @mobile-gap;

  @media (min-width: @tablet-width) {
    width: 92%;
    max-width: @desktop-width - @desktop-gap - @desktop-gap;
    padding: 0 40px;
    margin: 0 auto;
  }

  @media (min-width: @desktop-width) {
    padding: 0;
    margin: 0 auto;
  }
}

.form__header {
  margin: 0;
  padding: 27px 0 37px;

  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: 36px;
  line-height: 36px;
  color: @font-color;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;

    padding: 64px 0 54px;
  }

  @media (min-width: @desktop-width) {
    padding: 72px 0 56px;
  }
}

.form__desktop-wrapper {
  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;

    grid-column-gap: 80px;
  }
}

.form__additionals-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;

  margin: 0;

  @media (min-width: @tablet-width) {
    padding: 0;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 44px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 60px;
  }
}

.form__ending-wrapper {
  display: flex;
  flex-direction: column;

  padding: 0;
  margin: 0 0 32px;

  align-items: center;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 60px;

    margin: 0 0 72px;

    align-content: center;
  }

  @media (min-width: @desktop-width) {
    margin: 0 0 82px;
  }
}

.form__button {
  border: 0;
  width: 100%;

  @media (min-width: @tablet-width) {

  }
}

.form__button-description {

}
