.form {
  margin: 0 auto;

  width: @mobile-width-only - @mobile-gap;

  @media (min-width: @tablet-width) {
    width: @tablet-width - @tablet-gap;
  }

  @media (min-width: @desktop-width) {
    width: @desktop-width - @desktop-gap;
  }
}

.form__header {
  margin: 0;

  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: 60px;
  line-height: 60px;
  color: @font-color;
}

.form__description {}

.form_items {}

.form__cat-data {}

.form__program-radio {}

.form__owner-data {}

.form__additional-comment {}

.form__additional-demands {}

.form__button {
  border: 0;
}

.form__button-description {}
