.header {
  background-color: @white-color;
  color: @font-color;

  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 0;
  width: @mobile-width-only - @mobile-gap;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: @tablet-width - @tablet-gap;
  }


  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    min-width: @desktop-width - @desktop-gap;
  }
}

.header__logo-icon {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.header__mobile-wrapper {
  display: flex;
  justify-content: space-between;
}

.header__logo {
  height: auto;

  @media (min-width: @tablet-width) {
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    height: 59px;
  }
}

.header__logo-img {
  display: block;
}

.header__toggle {
  width: 25x;
  height: 25px;
  border: none;
  background-color: @white-color;

  &--hidden {
    @media (min-width: @tablet-width) {
      display: none;
    }

    @media (min-width: @desktop-width) {
      display: none;
    }
  }
}
