.header {
  background-color: @white-color;
  color: @font-color;

  display: flex;
  flex-direction: column;

  margin: 0 auto;
  padding: 0;
  width: @mobile-width-only - @mobile-gap;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    width: @tablet-width - @tablet-gap;
  }


  @media (min-width: @desktop-width) {
    flex-direction: row;
    justify-content: space-between;
    min-width: @desktop-width - @desktop-gap;
  }
}

.header__logo-icon {
  display: block;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.header__mobile-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  height: auto;

  @media (min-width: @tablet-width) {
    height: 52px;
  }

  @media (min-width: @desktop-width) {
    height: 59px;
  }
}

.header__logo-img {
  display: block;
}

.header__toggle {
  display: block;
  position: relative;
  cursor: pointer;

  margin: 0;
  padding: 0;

  width: 50px;
  height: 50px;
  border: none;
  background-color: @white-color;

  @media (min-width: @tablet-width) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }

  &:hover {}

  &:active {}
}

.header__toggle--closed {
  &::before {
    position: absolute;
    content: "";
    left: 7px;
    top: 15px;

    width: 36px;
    height: 2px;
    background-color: @font-color;

    box-shadow:
      0 8px 0 0 (@font-color),
      0 16px 0 0 (@font-color);
  }
}
