.intro {
  padding: 27px 0 20px;

  background:
    url("../img/intro-image.png") no-repeat center,
    url("../img/intro-background.png") no-repeat center;

  margin: 0 auto;
  padding: 0;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 92%;
    max-width: 1220px;
  }
}

.intro__wrapper {}

.intro__header {
  margin: 0;

  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: 36px;
  line-height: 36px;
  color: @font-color;

  text-align: center;

  @media (min-width: @tablet-width) {
    font-size: 60px;
    line-height: 60px;
    text-align: left;
  }
}

.intro__description {
  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: 20px;
  line-height: 20px;
  color: @font-color;
}

.intro__button {}
