.intro {
  background-image: url("/source/img/main-intro-image.png");
  background-color: #FFFFFF;
  background-position: center;
  background-repeat: no-repeat;
}
.intro__wrapper {
}
.intro__header {
}
.intro__description {
}
.intro__button {
}
