.intro {
  padding: 27px 35px 20px;
  background:
  url("../img/intro-image.png") no-repeat center,
  url("../img/intro-background.png") no-repeat center;
}

.intro__wrapper {}

.intro__header {
  margin: 0;

  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: 60px;
  line-height: 60px;
}

.intro__description {
  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: 20px;
  line-height: 20px;
  color: #000000;
}

.intro__button {}
