.nav {
  padding: 10px 20px 18px;

  background-color: @white-color;

  @media (min-width: @mobile-width-only) {
    padding: 0;
  }
}

.nav__wrapper {
  @media (min-width: @desktop-width) {
    width: 900px;
  }

  @media (min-width: @tablet-width) {
    width: 500px;
  }
}

.nav__list {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-direction: column;
  flex-wrap: wrap;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    column-gap: 33px;
  }

  @media (min-width: @tablet-width) {
    flex-direction: row;
    column-gap: 33px;
  }
}

.nav__list-item {
  font-size: 18px;
  line-height: 24px;
  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  color: @font-color;

  text-transform: uppercase;

  @media (min-width: @mobile-width-only) {
    padding: 22px 49px;
    text-align: center;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
  }

  @media (min-width: @desktop-width) {
    border: none;
    padding: 10px;
  }

  @media (min-width: @tablet-width) {
    border: none;
    padding: 10px;
  }

  &--current {}

  & a {
    font-size: 18px;
    line-height: 24px;
    font-family: @font;
    font-style: @font-style;
    font-weight: @font-weight;
    color: @font-color;

    text-decoration: none;
  }
}
