@font: "Oswald", sans-serif;
@font-style: normal;
@pfont-weight: 400;
@font-size: 18px;
@line-height: 24px;

.nav {
  background-color: #FFFFFF;
}

.nav__toggle {}

.nav__wrapper {}

.nav__list {
  font-family: @font;
  font-style: @font-style;
  font-weight: @pfont-weight;
  font-size: @font-size;
  line-height: @line-height;
  text-transform: uppercase;
  color: #000000;
}

.nav__list-item {}

.nav__list-item--current {}
