/* stylelint-disable no-eol-whitespace */
/* stylelint-disable block-no-empty */
@font-size: 20px;
@line-height: 30px;

.owner-data {

}

.owner-data__title {
  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: 36px;
  line-height: 36px;
  color: @font-color;
}

.owner-data__email {
  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
  color: @font-color;
}

.owner-data__email-label {

}

.owner-data__email-input {
  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
  color: @font-color;
}

.owner-data__phone {
  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
  color: @font-color;
}

.owner-data__phone-label {
  
}

.owner-data__phone-input {
  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
  color: @font-color;
}
