.programs {}

.programs__weight-image {
  background: url("../img/cat-fit-logo.svg") no-repeat center;
}

.programs__fit-image {
  background: url("../img/cat-gym-logo.svg") no-repeat center;
}

.programs__wrapper {
  background-color: #F2F2F2;
  padding: 30px 20px 18px;
  margin-bottom: 20px;

}

.programs__subtitle {
  margin: 0;

  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;

  color: #000000;
}

.programs__description {}

.programs__link {
  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}
