.programs {
  margin: 0 auto;
  padding: 0;
  width: 320px;

  @media (min-width: @tablet-width) {
    width: 92%;
    max-width: 1220px;
  }
}

.progams__list-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
}

.programs__weight-image {
  background: url("../img/cat-gym-logo.svg") no-repeat center;
  background-position: 22px 24px;
  background-size: 50px 50px;
}

.programs__fit-image {
  background: url("../img/cat-fit-logo.svg") no-repeat center;
  background-position: 22px 24px;
  background-size: 50px 50px;

  @media (min-height: @desktop-width) {
    background: url("../img/cat-fit-logo.svg") no-repeat center;
    background-position: 52px 41px;
    background-size: 100px 106px;
  }

  @media (min-height: @tablet-width) {
    background: url("../img/cat-fit-logo.svg") no-repeat center;
    background-position: 62% 12%;
    background-size: 200px 211px;
  }
}

.programs__wrapper {
  background-color: @gray-color;
  padding: 30px 20px 18px;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 100%;
  }

  @media (min-width: 900px) {
    width: 46%;
  }

  @media (min-width: @desktop-width) {
    padding: 77px 52px 55px;
  }
}

.programs__subtitle {
  margin: 0 0 29px;

  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: 24px;
  line-height: 37x;
  text-transform: uppercase;
  text-align: center;

  color: @font-color;

  @media (min-height: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    text-align: left;

    margin: 0 0 24px;
  }

  @media (min-height: @desktop-width) {
    text-align: center;

    margin: 0 0 73px;
  }
}

.programs__description {}

.programs__link {
  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;
  color: #000000;
}
