@font-size: 20px;
@line-height: 30px;

.progam-radio {}

.program-radio__weight-loss {
  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
  color: @font-color;
}

.program-radio__weight-loss-input {}

.program-radio__control-label {}

.program-radio__weight-gain {
  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
  color: @font-color;
}

.program-radio__weight-gain-input {}

.program-radio__need-advice {
  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: @font-size;
  line-height: @line-height;
  color: @font-color;
}

.program-radio__need-advice-input {}
