/* stylelint-disable block-no-empty */
.program-radio {
  display: flex;
  flex-direction: column;

  row-gap: 20px;

  padding: 39px 0 24px;
  color: @font-color;
  border: none;

  @media (min-width: @tablet-width) {
    border: 1px solid rgb(232, 232, 232);
    margin: 0 0 75px;
    padding: 25px;
  }

  @media (min-width: @desktop-width) {
    max-width: 570px;
    margin: 66px 0 69px;
  }
}

.program-radio__weight-loss,
.program-radio__weight-gain,
.program-radio__need-advice {
  font-family: @font;
  font-style: @font-style;
  font-weight: @font-weight;
  font-size: 16px;
  line-height: 18px;
  color: @font-color;

  @media (min-width: @tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.program-radio__weight-loss-input,
.program-radio__weight-gain-input,
.program-radio__need-advice-input {

}

.program-radio__control-label {}
