// Начните писать стили здесь
@import "../less/blocks/additional-comment.less";
@import "../less/blocks/additional-demands.less";
@import "../less/blocks/advantages.less";
@import "../less/blocks/button.less";
@import "../less/blocks/cat-data.less";
@import "../less/blocks/catalog-basic-goods.less";
@import "../less/blocks/catalog-other-goods.less";
@import "../less/blocks/experience.less";
@import "../less/blocks/explanation.less";
@import "../less/blocks/fonts.less";
@import "../less/blocks/footer.less";
@import "../less/blocks/form.less";
@import "../less/blocks/header.less";
@import "../less/blocks/intro.less";
@import "../less/blocks/main.less";
@import "../less/blocks/nav.less";
@import "../less/blocks/owner-data.less";
@import "../less/blocks/page.less";
@import "../less/blocks/program-radio.less";
@import "../less/blocks/programs.less";
@import "../less/blocks/promotion.less";
@import "../less/blocks/visually-hidden.less";

@font: "Oswald", sans-serif;
@font-style: normal;
@font-weight: 400;
@font-color: #000000;
